alias cz='chezmoi'
alias cdd='cd ~/.local/share/chezmoi/'
alias czcon='cat "{{ .chezmoi.configFile }}"'
alias czd='cz data'
alias cze='cz edit'
alias czec='cz edit-config'
alias dp='cz apply -v'

alias b='brew'
alias bi='b install'
alias bs='b search'
alias bu='b uninstall'
alias bz='bu --zap'
alias brci='bi --cask'
alias brcu='bu --cask'
alias brcz='bu --cask --zap'
alias bbun='b bundle'
# alias bbunc='HOMEBREW_BUNDLE_FILE="$HOME/Library/Preferences/Brewfile" bbun install --cleanup'
# alias bbuni='HOMEBREW_BUNDLE_FILE="$HOME/Library/Preferences/Brewfile" bbun install'
alias ci='bi --cask'
alias cu='bu --cask --zap'

alias e='{{ .editor }}'

alias g='git'
alias gaa='g add -A'
alias gcm='g commit -m'
alias gac='g add -A && git commit -m'
alias gco='g checkout'
alias glog="g log --graph --pretty=format:'%Cred%h%Creset %an: %s - %Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative"
alias gs='g status -sb'

alias l='ls -a'

alias md='mkdir -p'

alias resource='source "{{ .shells.fdotdir }}/config.fish"'
