[user]
  name = {{ .git.name }}
  email = {{ .git.email }}
[core]
  editor = {{ if eq .editor "code" }}"code --wait"{{ else }}{{ .editor }}{{ end }}
  pager = {{ if lookPath "delta" }}delta{{ else }}bat{{end}}
[delta]
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[diff]
  colorMoved = default
[merge]
  conflictstyle = diff3
[init]
  defaultBranch = main
[user]
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILbKI/JOFSI61U9rvwMJjnvWYEFTRhbkwZxgZ2n/2+zl
[gpg]
  format = ssh
{{ if eq .chezmoi.os "darwin" -}}
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{ end -}}
[commit]
  gpgsign = true
