#!/bin/zsh

set -eufo pipefail

{{ $brews := list
     "bat"
     "chezmoi"
     "curl"
     "eza"
     "fd"
     "fzf"
     "gdu"
     "gh"
     "git"
     "git-delta"
     "gnupg"
     "go"
     "jq"
     "lazygit"
     "mas"
     "neovim"
     "ripgrep"
     "wget"
     "xz"
     "yt-dlp" -}}

{{ $casks := list
    "appcleaner"
    "iina"
    "font-jetbrains-mono-nerd-font"
    "obsidian"
    "transmission"
    "wezterm"
    "zed" -}}

{{ $taps := list
    "homebrew/cask-fonts"
    "homebrew/cask-versions" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
