#!/usr/bin/env zsh

set -eufo pipefail

{{ $brews := list
     "asdf"
     "bat"
     "chezmoi"
     "coreutils"
     "curl"
     "eza"
     "fd"
     "fish"
     "fzf"
     "gdu"
     "gh"
     "git"
     "git-delta"
     "gnupg"
     "go"
     "jq"
     "lazygit"
     "mas"
     "neovim"
     "ripgrep"
     "tealdeer"
     "wget"
     "xz"
     "yt-dlp"
     "zoxide" -}}

{{ $casks := list
    "appcleaner"
    "brave-browser-beta"
    "iina"
    "neovide"
    "raycast"
    "transmission"
    "wezterm" -}}

{{ $fonts := list
    "font-ibm-plex-mono"
    "font-jetbrains-mono-nerd-font"
    "font-ia-writer-duospace"
    "font-ia-writer-quattro" -}}

{{ $gamingApps := list 
    "gog-galaxy"
    "league-of-legends"
    "steam" -}}

{{ $mediaUtils := list 
    "ffmpeg" -}}

{{ $taps := list
    "homebrew/cask-fonts"
    "homebrew/cask-versions" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}

{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}

{{ if .profiles.gaming -}}
{{   range ($gamingApps | sortAlpha | uniq) -}}
cask "{{ . }}"
{{   end -}}
{{ end -}}

{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}

{{ range ($fonts | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
