#!/usr/bin/env zsh

set -eufo pipefail

{{ $brews := list
     "asdf"
     "bat"
     "coreutils"
     "curl"
     "eza"
     "fd"
     "fish"
     "gdu"
     "git"
     "gnupg"
     "jq"
     "lazygit"
     "mas"
     "neovim"
     "tealdeer"
     "wget"
     "xz"
     "yt-dlp"
     "zoxide" -}}

{{ $casks := list
    "appcleaner"
    "brave-browser-beta"
    "iina"
    "neovide"
    "raycast"
    "transmission"
    "wezterm" -}}

{{ $fonts := list
    "font-ibm-plex-mono"
    "font-jetbrains-mono-nerd-font"
    "font-ia-writer-duospace"
    "font-ia-writer-quattro" -}}

{{ $gamingApps := list 
    "gog-galaxy"
    "league-of-legends"
    "steam" -}}

{{ $mediaBrews := list
  (dict "name" "homebrew-ffmpeg/ffmpeg/ffmpeg" "args" (list "with-chromaprint"))
  (dict "name" "chromaprint")
-}}

{{ $mediaCasks := list 
    "calibre" -}}

{{ $taps := list
    "homebrew/cask-fonts"
    "homebrew/cask-versions" -}}

{{ $mediaTaps := list 
     "homebrew-ffmpeg/ffmpeg" -}}

{{ if .profiles.gaming -}}
{{   $casks = concat $casks $gamingApps -}}
{{ end -}}

{{ if .profiles.server -}}
{{   $taps  = concat $taps $mediaTaps }}
{{   $casks = concat $casks $mediaCasks }}
{{ end -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}

{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}

{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}

{{ if .profiles.server -}}
{{   range $brew := $mediaBrews -}}
{{- $name := (index $brew "name") -}}
{{- $args := (index $brew "args" | default (list)) -}}
brew "{{ $name }}"{{ if $args }}, args: [{{ range $arg := $args }}"{{ $arg }}"{{ if not (eq $arg (index $args (sub (len $args) 1))) }}, {{ end }}{{ end }}]{{ end }}
{{   end -}}
{{ end -}}
EOF
